<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.elfiky.cordova.plugin.mobilecore"
        version="0.2.0">

    <name>MobileCorePlugin</name>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="js/mobile_core.js" target="js/mobile_core.js"/>

    <js-module src="js/mobile_core.js" name="mobileCore">
        <clobbers target="mobileCore"/>
    </js-module>



    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MobileCorePlugin">
                <param name="android-package" value="com.elfiky.cordova.plugin.mobilecore.MobileCorePlugin"/>
            </feature>
        </config-file>

        <source-file src="android/MobileCorePlugin.java" target-dir="src/com/elfiky/cordova/plugin/mobilecore/" />
        <source-file src="android/mobilecore.jar" target-dir="libs" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:configChanges="keyboardHidden|orientation|screenSize" android:keepScreenOn="true" android:name="com.ironsource.mobilcore.InterstitialVideoActivity" />
            <service
                    android:name="com.ironsource.mobilcore.MobileCoreReport"
                    android:enabled="true"
                    android:exported="false"
                    android:process=":mcServiceProcess" />

            <receiver
                    android:name="com.ironsource.mobilcore.InstallationTracker"
                    android:enabled="true"
                    android:process=":installationTracker" />
        </config-file>


        <config-file target="AndroidManifest.xml" parent="/manifest">
            <!--mobileCore SDK will fetch ads only if network connection is available. -->
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <!--will make sure the screen doesn’t turn off while the user is watching a video ad (only). -->
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>
    </platform>

</plugin>